*{
    margin: 0;
    padding: 0;
}


.navigation{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)),url(/LandingAssets/Background.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    width: 85%;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100%;
    cursor: pointer;
}

nav a{
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0, 20px;
    position: relative;
    width: 100px;
    justify-content: space-between;
    text-align: center;
    
}

nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover:after{
    width: 100%;
}

.main{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.main h1{
    font-size: 70px;
    margin-top: 80px;
}

.main p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    height: 50px;
    padding: 15px, 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: white;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    color:black;
    border-color: white;
}

@media screen and (max-width: 576px){
    .logo{
        width: 100px;
        cursor: pointer;
    }

    nav{
        width: 85%;
        margin: auto;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul li{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0, 20px;
        position: relative;
        width: 100px;
        justify-content: space-around;
        text-align: center;
        
    }
} 